<!--The content below is only a placeholder and can be replaced.-->
<nav style="border: 1px;
padding: 10px;
box-shadow: 1px 1px 5px 3px rgb(228, 227, 227); ">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="" src="../assets/logo.svg"/>
      <a class="" href="/">Intugine</a>
    </div>
    <ul class="nav navbar-nav" style="float:right;color:black;">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#"> Brands </a></li>
      <li><a href="#">Transporter</a></li>
      <li style="margin-top: 5px;">
          <img src="../assets/profile.svg" />     
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
